.showcase {
    width: 100%;
    margin-bottom: 36px;
}

.showcase__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 36px;
}

.showcase__heading {
    font-size: 36px;
    font-weight: 800;
    color: var(--col-text-main-dark);
    width: max-content;
    text-wrap: nowrap;
}

.showcase__underline {
    display: block;
    width: 100%;
    border-bottom: 2px solid var(--col-text-main-dark);
    padding-top: 3px;
    transition: 0.3s;
}

.showcase__watch-more {
    font-size: 24px;
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    color: var(--col-text-main-dark);
}

.showcase__icon {
    margin-left: 10px;
}

.showcase__list {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.showcase__item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.product__icon {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
}

.product__image img {
    border-radius: 25px;
    height: 314px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.product__heading {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
    text-wrap: nowrap;
}

.catalog__wrapper .product__heading {
    font-size: 24px;
}

.product__price {
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
}

.showcase__list--wrap {
    flex-wrap: wrap;
}

.product__price--cross-out {
    text-decoration: line-through;
    color: var(--col-text-grey);
}

.input-type-range {
    display: none !important;
}

.caption {
    bottom: -30px !important;
}

.multi-range-slider .thumb .caption * {
    min-width: 30px;
    height: 30px;
    font-size: 75%;
    text-align: center;
    line-height: 30px;
    background-color: var(--col-bg-main) !important;
    border-radius: 15px;
    color: black !important;
    box-shadow: 0 5px 10px black !important;
    white-space: nowrap;
}

.multi-range-slider .bar-right,
.multi-range-slider .bar-left {
    background-color: var(--col-bg-grey) !important;
    border-radius: 0px 10px 10px 0px;
    box-shadow: none !important;
}

.multi-range-slider .bar-inner  {
    background-color: var(--col-bg-main-bright) !important;
    border: none !important;
    box-shadow: none !important;
}

.multi-range-slider .thumb::before {
    background-color: var(--col-bg-main) !important;
    width: 24px !important; 
    height: 24px !important;
    border: solid 2px var(--col-slider-border) !important;
    box-shadow: none !important;
    margin: -9px -12px !important;
}

.multi-range-slider {
    display: flex;
    border: none !important;
    padding: 0 !important;
    border-radius: 10px;
    box-shadow: none !important;
    width: 260px;
}

.ruler {
    display: none !important;
}

.labels {
    display: none !important;
}

.filters {
    display: flex;
    gap: 35px;
    align-items: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.filters > div {
    display: flex;
    gap: 35px;
    align-items: center;
}

.filters__heading {
    font-size: 24px;
    font-weight: 600;
    margin-top: -5px;
}

.filters__heading--select {
    font-size: 24px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 50px;
    padding: 6px 55px;
    cursor: pointer;
}

.filters__heading--select input {
    display: none;
}

.filters__select {
    position: relative;
}

.filters__list {
    position: absolute;
    top: 50px;
    display: none;
    z-index: 2;
    background: white;
    padding: 20px;
    border-radius: 24px;
    font-size: 20px;
    border: 1px solid black;
}

.filters__item {
    margin-bottom: 5px;
    cursor: pointer;
}

.filters__heading--select:has(input:checked) + .filters__list {
    display: block;
}

.product__image {
    width: 100%;
    margin-bottom: 25px;
    position: relative;
}

.showcase__list--column .product__image {
    height: 100%;
}   

.product__image .prdocut__gradient {
    display: block;
}


@media (max-width: 1650px) {
    .catalog__wrapper .product__heading {
        font-size: 16px;
    }

    .offers .product__heading {
        font-size: 24px;
    }

    .product__image {
        height: 200px;
    }

    .product__image img {
        height: 200px;
    }
}

@media (max-width: 1000px) {
    .showcase {
        padding: 0 20px;
    }

    .showcase__underline,
    .showcase__watch-more {
        display: none;
    }

    .product .button {
        width: 100%;
    }

    .product__price {
        font-size: 20px;
        font-weight: 500;
    }
}

@media (max-width: 700px) {
    .showcase__list--column {
        flex-direction: column;
    }

    .showcase__list--column .product__image .prdocut__gradient {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        border-radius: 25px;
    }

    .showcase__list--column .product__heading {
        position: absolute;
        bottom: 20px;
        color: var(--col-text-main);
        font-weight: 900;
        font-size: 46px;
    }
}

@media (max-width: 500px) {
    .product__image img {
        height: 130px;
    }

    .catalog__wrapper .product__heading {
        font-size: 18px;
    }

    .showcase__heading {
        font-size: 24px;
    }

    .showcase__list--column .product__heading {
        font-size: 24px;
    }
}