.info__wrapper {
    padding-top: 140px;
}

.info__heading {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 70px;
}

.info__subheading {
    font-size: 36px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 40px;
}

.info__text {
    font-size: 32px;
    margin-top: 20px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.info__text--dash {
    margin-left: 40px;
    position: relative;
}

.info__text--dash::before {
    content: "-";
    display: block;
    position: absolute;
    left: -20px;
}

@media (max-width: 1000px) {
    .info__text {
        font-size: 24px;
    }
}